@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
div#app{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.panel{
    background-color: #fff;
    margin: 0;
}
div.center-panel{
    height: calc(100% - 54px);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.top-panel{
    width: 100%;
    text-align: center;
    background-color: #222;
    color: #fff;
    height: 54px;
}
div.side-panel{
    height: calc(100% - 54px);
    width: 20%;
    background-color: #d2d2d2
}
div.center-panel select{
    width: 300px;
}