@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
div#app{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.panel{
    background-color: #fff;
    margin: 0;
}
div.center-panel{
    height: calc(100% - 54px);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.top-panel{
    width: 100%;
    text-align: center;
    background-color: #222;
    color: #fff;
    height: 54px;
}
div.side-panel{
    height: calc(100% - 54px);
    width: 20%;
    background-color: #d2d2d2
}
div.center-panel select{
    width: 300px;
}
div.center-panel div.query-item{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
div.center-panel div.query-item span{
    padding-top: 6px;
    margin-right: 15px;
}